{
  "presets": [
    "stage-0",
    "react",
    ["env", {
      "targets": {
        "electron": "1.8.2",
        "node": "current"
      }
    }]
  ],
  "plugins": ["transform-decorators-legacy"]
}
