/** Roboto fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500&subset=latin-ext);

/** Material icons */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/** Elements */
::selection { background: #43464B; }
a { color: #b60127; }
a:hover { color: #43464B; }
a:active { color: #b60127; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #e9e9e9; padding: 0; margin: 10px 0 10px 0; }
body { font-family: 'Roboto', sans-serif; font-size: 13px; }
header { background: #b60127; color: #FFFFFF; overflow: hidden; }
header img { float: left; margin: 10px 0 10px 10px; width: 36px; height: 36px; }
header p { float: left; margin: 9px 0 0 20px; padding: 0px; }
header p span { font-weight: 600; }
header p.balance { margin: 28px 0 0 20px; }
header .incoming { float: left; margin: 0 0 0 10px; }
header .controls { float: right; margin: 0 10px 0 0; }
header nav { float: right; margin: 5px 14px 0 0; }
header nav i { vertical-align: text-bottom; }
header button { margin: 13px 0 0 0; }
header .ant-btn-primary { color: #FFFFFF; background-color: #43464B; border-color: #43464B; min-height: 30px; }
header .ant-btn-primary i { vertical-align: middle; }
header .ant-btn-primary:hover, header .ant-btn-primary:focus { color: #b60127; background-color: #43464B; border-color: #43464B; font-weight: bold; }
main #sendRecipients { max-height: 360px; overflow-y: scroll; margin: 0 0 5px 0; }
main #sendRecipients::-webkit-scrollbar { display: none; }
main .toolbar { margin: 7px 10px; min-height: 21px; }
main .toolbar p { display: inline; padding: 0 10px 0 5px; vertical-align: 5px; }
main .toolbar p:last-child { padding: 0 0 0 5px; }
main .toolbar p span { font-weight: 600; }
main .toolbar i { margin: 1px 0 0 0; }
main .toolbar .ant-select { vertical-align: 5px; }
main .toolbar .ant-btn { margin: 0 5px 0 0; }
footer { width: 100%; height: 25px; bottom: 0; position: fixed; z-index: 1; }
footer i { margin: 4px 5px 0 10px; }
footer p { display: inline; color: #757575; vertical-align: 3px; }
footer p span { font-weight: 500; }

/** Shadows */
.shadow { box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
.shadow-2 { box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.14), 0 2px 0px 0px rgba(0, 0, 0, 0.2), 0 4px 1px 0 rgba(0, 0, 0, 0.12); }

/** Material icons */
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-20 { font-size: 20px; }

/** Recharts tooltip */
.chartTooltip { width: 260px; margin: 0; padding: 10px; border: 1px solid #f5f5f5; background-color: rgba(255, 255, 255, 0.95); }
.chartTooltip .label { margin: 0; font-weight: 500; border-bottom: 1px solid #ccc; }
.chartTooltip p { margin: 0; padding: 0; }

/** Helpers */
.text-mono { font-family: 'Roboto Mono'; font-size: 13px; }
.green { color: #4fb71c; }
.orange { color: #ff7200; }
.red { color: #b60127; }

/** Ant.Design */
.ant-anchor-ink-ball { border: 3px solid #b60127; }
.ant-anchor-link-active > .ant-anchor-link-title { color: #b60127; }
.ant-select-selection:hover { border-color: #b60127; }
.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active { border-color: #b60127; }
.ant-select-open .ant-select-selection { border-color: #b60127; }
.ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item-selected:hover:after { color: #b60127; }
.ant-input-search-wrapper .ant-input-search-icon:hover { color: #b60127; }
.ant-input-search-wrapper:hover .ant-input-search:not([disabled]) { border: 1px solid #b60127; }
.ant-search-input .ant-search-btn:focus { color: #b60127; border-color: #b60127; }
.ant-search-input .ant-search-btn.active { color: #b60127; border-color: #b60127; }
.ant-search-input:hover .ant-search-btn-noempty { background-color: #b60127; border-color: #b60127; }
.ant-search-input:hover .ant-search-btn-noempty:focus { background-color: #b60127; border-color: #b60127; }
.ant-search-input:hover .ant-search-btn-noempty.active { background-color: #b60127; border-color: #b60127; }
.ant-input:hover { border-color: #b60127; }
.ant-input:focus { border-color: #b60127; }
.ant-input-group-addon .ant-select-focused .ant-select-selection { color: #b60127; }
.ant-breadcrumb a:hover { color: #b60127; }
.ant-btn { background-color: #f7f7f7; }
.ant-btn:hover { background-color: #f7f7f7; }
.ant-btn:focus { color: #b60127; border-color: #b60127; }
.ant-btn.active { color: #b60127; border-color: #b60127; }
.ant-btn-primary { background-color: #b60127; border-color: #b60127; }
.ant-btn-primary:hover, .ant-btn-primary:focus { background-color: #b60127; border-color: #b60127; }
.ant-btn-primary:active, .ant-btn-primary.active { background-color: #b60127; border-color: #b60127; }
.ant-btn-group .ant-btn-primary:not(:first-child):not(:last-child) { border-right-color: #b60127; border-left-color: #b60127; }
.ant-btn-group .ant-btn-primary:first-child:not(:last-child) { border-right-color: #b60127; }
.ant-btn-group .ant-btn-primary:last-child:not(:first-child),
.ant-btn-group .ant-btn-primary + .ant-btn { border-left-color: #b60127; }
.ant-btn-ghost:hover, .ant-btn-ghost:focus { color: #b60127; border-color: #b60127; }
.ant-btn-ghost:active, .ant-btn-ghost.active { color: #b60127; border-color: #b60127; }
.ant-btn-dashed:hover, .ant-btn-dashed:focus { color: #b60127; border-color: #b60127; }
.ant-btn-dashed:active, .ant-btn-dashed.active { color: #b60127; border-color: #b60127; }
.ant-btn-clicked:after { border: 0 solid #b60127; }
.ant-radio-wrapper:hover .ant-radio .ant-radio-inner,
.ant-radio:hover .ant-radio-inner,
.ant-radio-focused .ant-radio-inner { border-color: #b60127; }
.ant-radio-inner:after { background-color: #b60127; }
.ant-radio-checked .ant-radio-inner { border-color: #b60127; }
.ant-radio-button-wrapper:hover, .ant-radio-button-wrapper-focused { color: #b60127; }
.ant-radio-button-wrapper-checked { border-color: #b60127; color: #b60127; box-shadow: -1px 0 0 0 #b60127; }
.ant-radio-button-wrapper-checked:first-child { border-color: #b60127; }
.ant-radio-button-wrapper-checked:hover { border-color: #b60127; box-shadow: -1px 0 0 0 #b60127; color: #b60127; }
.ant-radio-button-wrapper-checked:active { border-color: #b60127; box-shadow: -1px 0 0 0 #b60127; color: #b60127; }
.ant-checkbox-wrapper:hover .ant-checkbox .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-focused .ant-checkbox-inner { border-color: #b60127; }
.ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox-indeterminate .ant-checkbox-inner { background-color: #b60127; border-color: #b60127; }
.ant-input-number:hover { border-color: #b60127; }
.ant-input-number:focus { border-color: #b60127; }
.ant-input-number-handler:hover .ant-input-number-handler-up-inner,
.ant-input-number-handler:hover .ant-input-number-handler-down-inner { color: #b60127; }
.ant-input-number:hover { border-color: #b60127; }
.ant-input-number-focused { border-color: #b60127; }
.ant-menu-item > a:hover { color: #b60127; }
.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover { color: #b60127; }
.ant-menu-item-selected { color: #b60127; }
.ant-menu-item-selected > a,
.ant-menu-item-selected > a:hover { color: #b60127; }
.ant-menu-inline .ant-menu-item-selected { border-right: 3px solid #b60127; }
.ant-menu-vertical .ant-menu-submenu-selected { color: #b60127; }
.ant-menu-vertical .ant-menu-submenu-selected > a { color: #b60127; }
.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected { border-bottom: 2px solid #b60127; color: #b60127; }
.ant-menu-horizontal > .ant-menu-item > a:hover,
.ant-menu-horizontal > .ant-menu-submenu > a:hover { color: #b60127; }
.ant-menu-dark.ant-menu-inline .ant-menu-item-selected { background-color: #b60127; }
.ant-progress-bg { background-color: #b60127; }
.ant-spin { color: #b60127; }
.ant-spin-dot i { background-color: #b60127; }
.ant-switch-checked { border-color: #b60127; background-color: #b60127; }
.ant-menu { background: #b60127; color: #FFFFFF; }
.ant-menu-horizontal { border: none; }
.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-item-selected { border-bottom: 2px solid #FFFFFF;color: #FFFFFF; }
.ant-btn { vertical-align: top; }
.ant-btn:hover, .ant-btn:focus { color: #b60127; border-color: #b60127; }
.ant-input:focus { border-color: #b60127; outline: 0; box-shadow: 0 0 0 2px rgba(183, 28, 28, 0.2); }
.ant-input:hover { border-color: #b60127; outline: 0; }
.ant-radio-button-wrapper:hover, .ant-radio-button-wrapper-focused { color: #b60127; }
.ant-radio-button-wrapper-checked:first-child { border-color: #b60127; }
.ant-radio-button-wrapper-checked { background: #FFFFFF; border-color: #b60127; color: #b60127; box-shadow: -1px 0 0 0 #b60127; }
.ant-radio-button-wrapper-checked:hover { border-color: #b60127; box-shadow: -1px 0 0 0 #b60127; color: #b60127;}
.ant-select-dropdown-menu-item:hover,
.ant-select-dropdown-menu-item-active { background-color: #fdecec; }
.ant-table-small .ant-table-thead > tr > th { background: #f7f7f7; }
.ant-table-fixed-header .ant-table-scroll .ant-table-header { overflow: auto; margin: 0 !important; background: #f7f7f7; }
.ant-table-small .ant-table-tbody > tr > td { padding: 2px 8px; }
.ant-table-small .ant-table-title,
.ant-table-small .ant-table-footer,
.ant-table-small .ant-table-thead > tr > th:not(.ant-table-selection-column) { padding: 4px 8px; }
.ant-table-pagination { margin: 8px 0; float: none; }
.ant-pagination-prev:hover,
.ant-pagination-next:hover { border-color: #b60127; }
.ant-pagination-prev:hover a,
.ant-pagination-next:hover a { color: #b60127; }
.ant-pagination-simple .ant-pagination-simple-pager input:hover { border-color: #b60127; }
.ant-pagination-item:hover { -webkit-transition: all 0.3s ease; transition: all 0.3s ease; border-color: #b60127; }
.ant-pagination-item:hover a { color: #b60127; }
.ant-pagination-item-active { background-color: #b60127; border-color: #b60127; }
.ant-pagination-jump-prev:hover:after,
.ant-pagination-jump-next:hover:after { color: #b60127; }
.ant-table-thead > tr > th.ant-table-selection-column,
.ant-table-tbody > tr > td.ant-table-selection-column,
.ant-table-expand-icon-th,
.ant-table-row-expand-icon-cell { text-align: center; width: 34px; }
.ant-table-filter-dropdown-link { color: #b60127; }
.ant-table-filter-dropdown-link:hover { color: #43464B; }
.ant-table-filter-dropdown-link:active { color: #b60127; }
.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover { background-color: #fdecec; }
.ant-table-thead > tr > th .ant-table-filter-selected.anticon-filter { color: #b60127; }
.ant-dropdown-menu-item-selected,
.ant-dropdown-menu-submenu-title-selected,
.ant-dropdown-menu-item-selected > a,
.ant-dropdown-menu-submenu-title-selected > a { color: #b60127; background-color: #fdecec; }
.ant-table-bordered.ant-table-empty .ant-table-placeholder { border: 0px !important; }
.ant-table-column-sorter-up.on .anticon-caret-up,
.ant-table-column-sorter-down.on .anticon-caret-up,
.ant-table-column-sorter-up.on .anticon-caret-down,
.ant-table-column-sorter-down.on .anticon-caret-down { color: #b60127; }
.ant-select-auto-complete.ant-select .ant-input:focus,
.ant-select-auto-complete.ant-select .ant-input:hover { border-color: #b60127; }
.ant-table-thead > tr.ant-table-row-hover > td,
.ant-table-tbody > tr.ant-table-row-hover > td,
.ant-table-thead > tr:hover > td,
.ant-table-tbody > tr:hover > td { background: #f2f2f2; }
.ant-select-auto-complete.ant-select .ant-input:focus { border-color: #b60127; outline: 0; box-shadow: 0 0 0 2px rgba(183, 28, 28, 0.2); }
